@use '../styles/variables' as vars;

.empty-state {
  text-align: center;
  padding: 24px 0;
  color: vars.$color-text-muted;

  .icon {
    font-size: 2rem;
    display: block;
    margin-bottom: 8px;
  }

  p {
    font-style: italic;
    margin: 0;
  }
}