@use '../styles/variables' as vars;

.nav-bar {
    display: flex;
    gap: 20px;
    padding: 16px 0;
    margin-bottom: 8px;

    a {
        color: vars.$color-text-heading;
        text-decoration: none;
        font-weight: 600;
        padding-bottom: 4px;
        border-bottom: 2px solid transparent;

        &.active {
            border-bottom-color: vars.$color-primary;
            color: vars.$color-primary;
        }

    }

}

